<template>
	<v-container>
		<v-layout row>
			<v-flex md6 offset-md3>
				<h1>asdjladkladsjlkasd</h1>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
import {tasksRef} from '@/database/'
export default {
	data: () => ({
		sound: true,
		title: '',
		tasks: []
	}),
	created() {
		tasksRef.orderByChild('_userId').equalTo(this.user.id).on('value', snap => {
			this.tasks = snap.val()
		})
	},
	computed: {
		user() {
			return this.$store.getters.user
		},
	},
	methods: {
		addTask() {
			tasksRef.push({
				_userId: this.user.id, 
				title: this.title
			})
		}
	}
}
</script>