<template>
	<v-container>
		<v-layout row>
			<v-flex md6 offset-md3>
				<v-card>
					<v-card-text>
						<v-container>
							<app-alert v-if="error" type="error" :message="error.message" @close="setError(null)"></app-alert>
							<form @submit.prevent="signIn">
								<v-text-field v-model.lazy.trim="email" label="Email" type="email" required></v-text-field>
								<v-text-field 
									v-model.lazy.trim="password" 
									label="Password" 
									:append-icon="aux.isVisPassword ? 'visibility_off' : 'visibility'"
									:append-icon-cb="() => (aux.isVisPassword = !aux.isVisPassword)"
									:type="aux.isVisPassword ? 'text' : 'password'"
									required 
								></v-text-field>
								<v-btn
							      color="success"
							      type="submit"
							      :loading="loading"
							      :disabled="loading"
							    >
							      Sign in
							    </v-btn>
							</form>
						</v-container>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>	
	</v-container>
</template>

<script>
import {mapActions, mapMutations, mapState} from 'vuex'
export default {
	data: () => ({
		email: '',
		password: '',
		aux: {
			isVisPassword: false
		}
	}),
	created() {
		this.setError(false)
	},
	computed: {
		...mapState({
			user: state => state.user,
			error: state => state.ui.error,
			loading: state => state.ui.loading
		})
	},
	methods: {
		...mapMutations(['setError']),
		...mapActions(['signInUserAction']),
		signIn() {
			this.signInUserAction({
				email: this.email,
				password: this.password,
				component: this
			})
		}
	}
}
</script>