<template>
	<!-- <v-app> -->
		<v-container>
			<v-layout row>
				<v-flex md6 offset-md3>
					<v-card>
						<v-card-text>
							<v-container>
								<app-alert v-if="error" type="error" :message="error.message" @close="setError(null)"></app-alert>
								<form @submit.prevent="signUp">
									<v-text-field v-model.lazy.trim="email" label="Email" type="email" required></v-text-field>
									<v-text-field 
										v-model.lazy.trim="password" 
										label="Password" 
										:append-icon="aux.isVisPassword1 ? 'visibility_off' : 'visibility'"
										:append-icon-cb="() => (aux.isVisPassword1 = !aux.isVisPassword1)"
										:type="aux.isVisPassword1 ? 'text' : 'password'" 
										required></v-text-field>
									<v-text-field 
									v-model.lazy.trim="password2" 
									label="Confirm password" 
									:append-icon="aux.isVisPassword2 ? 'visibility_off' : 'visibility'"
									:append-icon-cb="() => (aux.isVisPassword2 = !aux.isVisPassword2)"
									:type="aux.isVisPassword2 ? 'text' : 'password'"
									required></v-text-field>
									<v-btn
							      color="success"
							      type="submit"
							      :loading="loading"
							      :disabled="loading"
							    >
							      Sign up
							    </v-btn>
								</form>
							</v-container>
						</v-card-text>
					</v-card>
				</v-flex>
			</v-layout>	
		</v-container>
	<!-- </v-app> -->
</template>

<script>
import {mapActions, mapMutations} from 'vuex'
export default {
	data: () => ({
		email: '',
		password: '',
		password2: '',
		aux: {
			isVisPassword1: false,
			isVisPassword2: false
		}
		// error: 'Ahahahaha'
	}),
	created() {
		this.setError(false)
	},
	computed: {
		loading() {
			return this.$store.getters.loading
		},
		error() {
			return this.$store.getters.error
		}
	},
	methods: {
		...mapMutations(['setError']),
		...mapActions(['createUserAction']),
		signUp() {
			if (!this.email || !(this.password === this.password2)) return
			this.createUserAction({
				email: this.email, 
				password: this.password,
				component: this
			})
			// this.$router.push('/signin')
		}
	}
}
</script>

<!-- <template>
	<div v-if="!success">
		<form @submit.prevent="signup">
			<input type="email" placeholder="Email" v-model.lazy.trim="email" required>
			<input type="password" placeholder="Password" v-model.lazy.trim="password1" required>
			<input type="password" placeholder="Confirm password" v-model.lazy.trim="password2" required>
			<button>Sign Up</button>
		</form>
		<span style="color: green">{{success}}</span>
		<span style="color: red" v-if="error">{{error}}</span>
	</div>
	<div v-else="success">
		<h3 align="center">
			{{success}}
			<hr>
			<router-link to="/signin" tag="button">Sign In</router-link>
		</h3>
	</div>
</template>

<script>
export default {
	data: () => ({
		email: '',
		password1: '',
		password2: '',
		error: undefined,
		success: undefined
	}),
	methods: {
		async signup() {
			try {
				this.error = undefined
				if (!this.email || !(this.password1 === this.password2)) throw new Error('Passwords not equal')
				const res = await this.$http.post('signup', {
					email: this.email,
					password: this.password1
				})
				this.success = res.body.success
			} catch(ex) {
				this.error = ex.message ? ex.message : ex.body.error
			}
		}
	}
}
</script> -->