<template>
	<v-alert :type="type" dismissible @input="closeAlert" :value="true">{{message}}</v-alert>
</template>

<script>
import {mapMutations} from 'vuex'
export default {
	props: ['message', 'type'],
	data: () => ({

	}),
	methods: {
		closeAlert() {
			this.$emit('close')
		}
	}
}
</script>
