<template>
	<!-- <div> -->
		<v-app>
			<v-toolbar>
				<!-- <v-toolbar-side-icon></v-toolbar-side-icon> -->
				<v-toolbar-title>
					<router-link to="/" tag="span">My App</router-link>
				</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-toolbar-items class="hidden-sm-and-down">
					<v-btn v-for="(item, i) in menuItems" :key="i" :to="item.path" flat router>
						<v-icon :left="!item.title ? false : true">{{item.icon}}</v-icon>
						{{item.title}}
					</v-btn>
				</v-toolbar-items>
			</v-toolbar>
			<main>
				<router-view></router-view>
			</main>
		</v-app>
	<!-- </div> -->
</template>


<script>
import {usersRef} from '@/database/'
export default {
	data: () => ({
		menuItems: [
			{path: '/signup', icon: 'person_add', title: 'Sign Up'},
			{path: '/signin', icon: 'lock_open', title: 'Sign In'}
		]
	}),
	firebase: {
		users: usersRef
	},
	computed: {
		user() {
			return this.$store.getters.user
		}
	},
	watch: {
		user(value) {
			// if (value)
				this.menuItems = [
					{path: '/todos', icon: 'widgets', title: 'Todos'},
					{path: '/profile', icon: 'person', title: 'Profile'},
					{path: '/logout', icon: 'exit_to_app'},
				]
			// else
			// 	this.menuItems = [
			// 		{path: '/signup', icon: 'person_add', title: 'Sign Up'},
			// 		{path: '/signin', icon: 'lock_open', title: 'Sign In'}
			// 	]

		} 
	},
	created() {
		
	},
	methods: {
		addName() {
			if (!this.name) return
				usersRef.push({
					name: this.name
				})
		},
		removeName(key) {
			usersRef.child(key).remove()
		}
	}
}
</script>